<!-- Modal Login -->
<div id="modal-login" class="modal-overlay" style="display: none">
  <div class="modal-contenido">
    <span
      class="material-symbols-outlined icono-modal"
      style="color: #6941c6; background-color: #f9f5ff; border-color: #f4ebff;"
      >login</span
    >
    <h3>Iniciar Sesión</h3>
    <p>Ingresa tus credenciales para acceder a tu cuenta.</p>
    <div style="text-align: left; margin-bottom: 24px">
      <label class="label-input">Email</label>
      <input
        type="email"
        id="input-login-email"
        class="input-modal"
        placeholder="tu@email.com"
      />
      <label class="label-input">Contraseña</label>
      <input
        type="password"
        id="input-login-password"
        class="input-modal"
        placeholder="••••••••"
      />
      <p id="error-login" style="color: #d92d20; font-size: 14px; margin-top: 8px; display: none;"></p>
    </div>
    <div class="acciones-modal">
      <button class="btn-secundario btn-cerrar-modal">Cancelar</button>
      <button id="btn-confirmar-login" class="btn-primario">Iniciar Sesión</button>
    </div>
  </div>
</div>

<!-- Modal Registro -->
<div id="modal-registro" class="modal-overlay" style="display: none">
  <div class="modal-contenido">
    <span
      class="material-symbols-outlined icono-modal"
      style="color: #027a48; background-color: #ecfdf3; border-color: #d1fadf;"
      >person_add</span
    >
    <h3>Crear Cuenta</h3>
    <p>Regístrate para empezar a usar Nuvoryx.</p>
    <div style="text-align: left; margin-bottom: 24px">
      <label class="label-input">Nombre</label>
      <input
        type="text"
        id="input-registro-nombre"
        class="input-modal"
        placeholder="Tu nombre"
      />
      <label class="label-input">Email</label>
      <input
        type="email"
        id="input-registro-email"
        class="input-modal"
        placeholder="tu@email.com"
      />
      <label class="label-input">Contraseña</label>
      <input
        type="password"
        id="input-registro-password"
        class="input-modal"
        placeholder="Mínimo 6 caracteres"
      />
      <p id="error-registro" style="color: #d92d20; font-size: 14px; margin-top: 8px; display: none;"></p>
    </div>
    <div class="acciones-modal">
      <button class="btn-secundario btn-cerrar-modal">Cancelar</button>
      <button id="btn-confirmar-registro" class="btn-primario">Crear Cuenta</button>
    </div>
  </div>
</div>
