<!-- Migas de Pan -->
<div class="migas-pan">
    <a href="/">
        <span class="material-symbols-outlined icono-miga">home</span> Inicio
    </a>
    {% for miga in ruta_migas[:-1] %}
    <span class="material-symbols-outlined separador-miga">chevron_right</span>
    <a href="{{ url_for('principal.indice', carpeta_id=miga.id) }}">
        {{ miga.nombre }}
    </a>
    {% endfor %}
    <span class="material-symbols-outlined separador-miga">chevron_right</span>
    {% if ruta_migas|length > 0 %}
    <span class="miga-actual">{{ ruta_migas[-1].nombre }}</span>
    {% endif %}
</div>
