/* Base */
@import url('base/variables.css');
@import url('base/globales.css');

/* Layout */
@import url('layout/contenedores.css');
@import url('layout/estadisticas.css');
@import url('layout/area_subida.css');

/* Components */
@import url('components/barra_navegacion.css');
@import url('components/botones.css');
@import url('components/paneles.css');
@import url('components/modales.css');
@import url('components/tabla.css');
@import url('components/barra_flotante.css');
